@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(125% 150% at 50% 10%, #000 40%, #6363e6 100%);
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  width: 100%;
  max-width: 1000px;
}

.header-container {
  background-color: #6F7ACC;
  padding: 0.5rem 1rem;
}

h1 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

h2 {
  color: #fff;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

label, p { 
  color: #fff;
  padding: 0.5rem;
}

div {
  color: #fff;
}

.navbar {
  background: linear-gradient(to right, #1A1A40, #34345e);
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(35deg, rgba(0, 0, 0, 0.2) 15%, transparent 15%, transparent 75%, rgba(0, 0, 0, 0.1) 75%), linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%);
  pointer-events: none; /* Avoid interfering with interactive elements  */
}


.logo-container {
  flex: 1;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a,
.nav-links button {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover, .nav-links button:hover {
  background-color: #5520e7;
}

.navbar .btn-nav {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: linear-gradient(to right, #4e5dff, #4e5d99);
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: 1px solid #4e5dff;
}

.navbar .btn-nav:hover {
  background: linear-gradient(to right, #4e5dcc, #4e5d99);
  transform: scale(1.05);
}

.home-container {
    background-color: transparent;
    padding: 4rem;
    border-radius: 8px;
    text-align: center;
    color: #fff;
}

.welcome-message {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.container {
  background: linear-gradient(to bottom right, #1A1A40, #2F2F70);
  padding: 4rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.todoform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background: #fff;
  color: #4E5D99;
  border: 1px solid #4E5D99;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

.btn-google:hover,
.btn-google:focus {
  background-color: #4E5D99;
  color: #fff;
}

.btn-google svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #4E5D99;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  font-size: 1rem;
  outline: none;
  background: none;
  border: 1px solid #4E5D99;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  color: #FFFFFF;
  border-radius: 5px;
}

.input::placeholder {
  color: #FFFFFF4D;
}

.select-wrapper {
  width: 100%;
  margin-bottom: 1rem;
}

.select {
  font-size: 1rem;
  outline: none;
  background: none;
  border: 1px solid #4E5D99;
  padding: 0.5rem 1rem;
  width: 100%;
  color: #FFFFFF;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #1A1A40;
  border-radius: 5px;
}

.select option {
  background-color: #1A1A40;
  color: #FFFFFF;
}

.select:focus {
  border-color: #8680ff;
}


.btn {
  font-size: 1rem;
  background: linear-gradient(to right, #4e5dff, #4e5d99);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.55rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background: linear-gradient(to right, #4e5dcc, #4e5d99);
  transform: scale(1.05);
}

.btn-signup {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-signup:hover {
  color: #EF767A;
}


.btn-log {
  font-size: 1rem;
  background: linear-gradient(to right, #4e5dff, #4e5d99);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-log:hover {
  background: linear-gradient(to right, #4e5dcc, #4e5d99);
  transform: scale(1.05);
}


.btn-log:focus {
  outline: none;
}

.btn-log:active {
  background-color: #522b89;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6F7ACC;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.completed {
  color: #8680ff;
  text-decoration: line-through;
  cursor: pointer;
  font-size: 1rem;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.task-card {
  background-color: #6F7ACC;
  color: #FFFFFF;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  padding-top: 20px;
  padding-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task-card.completed {
  opacity: 0.6;
}

.task-text {
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.task-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.priority-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

@media screen and (max-width: 768px) {
  .task-grid {
    grid-template-columns: 1fr;
  }
}
